@charset "utf-8";
/* CSS Document */

@media screen and (max-width : 1920px )
{

html
{ font-family: Georgia;
}
	
a:link
{ color: black; 
  text-decoration: none;
}

a:visited
{ color: black;
  text-decoration: none;
}

a:hover
{ color: #2EEDD6;
  text-decoration: none;
}

a:active
{ color: #2EEDD6;
  text-decoration: none;
}

::selection
{ color:black;
  background: #2EEDD6;
}

::-moz-selection
{ color:black;
  background: #2EEDD6;
}

.top_navigation1
{ position:absolute;
  left:100px;
  top:100px;
}

.top_navigation2
{ position:absolute;
  left:468px;
  top:100px;
  font-size: 16px;
  color: white;
}

.top_navigation3
{ position:absolute;
  left:826px;
  top:100px;
}

.top_navigation4
{ position:absolute;
  left:1206px;
  top:100px;
}
	
.current_page
{ 
  position:absolute;
  left:1126px;
  top:80px;
  width: 214px;
  font-size: 24px;
  font-weight:bold;
  text-align: center;
}
	
.icon_navi
{ margin-top: 8px;
}
	
.title
{ position:absolute;
  left:396px;
  top:236px;
  font-size: 24px;
  font-weight:bold;
}

.my_photo
{ position:absolute;
  left:406px;
  top:336px;	
}

.contact_table
{ position:absolute;
  left:606px;
  top:318px;	
}

.border
{ position:absolute;
  left:276px;
  top:228px;
  width: 800px;
  height: 360px;
  border-style: solid;
  border-color: black;
}
}